@media(max-width: 768px) {
    .nav {
        align-items: center;
    }

    .nav .navbar {
        display: none;
        position: absolute;
        z-index: 100;
        background: #fff;
        width: 100%;
        top: 100%;
    }
    .navbar .navbar-item {
        display: block;
        margin-bottom: 10px;
    }

    .hamburger {
        display: block;
    }

    .col-content:nth-child(2) {
        padding-left: 15px;
    }

    .col-content:nth-child(1) {
        padding-right: 15px;
    }
}

@media(max-width:576px) {
    .offert {
        padding: 10px;
    }

    .col-content .cards-title {
        font-size: 30px;
    }
}