body {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.nav {
    height: 100px;
    width: 100%;
    background: #fff;
    padding: 0 20px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .navbar {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.nav .navbar .navbar-item {
    color: #7d5b74;
    margin-right: 15px;
    font-size: 20px;
}

.logo>img {
    height: 90px;
}

.nav .social>i {
    color: #7d5b74;
    margin-right: 5px;
}

header {
    height: calc(100vh - 90px);
    overflow: hidden;
    position: relative;
}

header img {
    width: 100%;
}

header .header-wrapper {
    position: absolute;
    z-index: 10;
    top: 20%;
    left: 60%;

}

.header-wrapper h1 {
    font-size: 52px;
    font-weight: bold;
    color: #7d5b74;
    text-shadow: 1px 1px 2px #FFF;
}

.header-wrapper h2 {
    text-shadow: 1px 1px 2px #FFF;
}

.btn-header {
    height: 50px;
    border-radius: 5px;
    border: none;
    background: #000;
    color: #fff;
    margin-top: 30px;
    width: 200px;
    -webkit-box-shadow: 0px 1px 2px 1px rgba(125, 91, 116, 1);
    -moz-box-shadow: 0px 1px 2px 1px rgba(125, 91, 116, 1);
    box-shadow: 0px 1px 2px 1px rgba(125, 91, 116, 1);
    outline: none;
}

.offert {
    background: #ff6b6b;
    padding-top: 50px;
    color: #fff;
    min-height: 718px;
    margin-top: 20px;
}

.offert .content {
    font-size: 42px;
    color: #7d5b74;
}

.offert .content span {
    color: #fff;
}

.offert-wrapper {
    margin: 0;
    padding: 0;
}

.offert-wrapper>img {
    width: 100%;
}

.offert .col {
    padding: 0;
}

/*section cards */
.cards {
    margin-top: 20px;
}

.cards-item {
    background: #000;
    overflow: hidden;

}

.col-content:nth-child(1) {
    padding-right: 7.5px;
}

.col-content:nth-child(2) {
    padding-left: 7.5px;
}

.cards-item img {

    height: 633px;
}

.col-content {
    margin-bottom: 15px;
    position: relative;
}

.col-content .cards-title {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: bold;
    font-size: 46px;
    text-shadow: 2px 2px 2px #7d5b74;
}