body {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.nav {
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    background: #fff;
    padding: 0 20px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 100;
}

.nav .navbar {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.nav .navbar .navbar-item {
    color: #7d5b74;
    margin-right: 15px;
    font-size: 20px;
    text-decoration: none;
}

.nav .navbar .navbar-item::after {
    content: "/";
    margin-left: 10px;
}

.nav .navbar .navbar-item:nth-last-of-type(1)::after {
    content: ""
}

.logo>img {
    height: 90px;
}

.nav .social>i {
    color: #7d5b74;
    margin-right: 5px;
}

.hamburger {
    width: 30px;
    height: 30px;
    display: none;
}

.hamburger span {
    display: block;
    position: relative;
    height: 5px;
    background: #000;
    margin-bottom: 5px;
}


/*header !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

header {
    margin-top: 100px;
    overflow: hidden;
    position: relative;
}

header img {
    width: 100%;
}

header .header-wrapper {
    position: absolute;
    z-index: 10;
    top: 20%;
    left: 60%;

}

.header-wrapper h1 {
    font-size: 52px;
    font-weight: bold;
    color: #7d5b74;
    text-shadow: 1px 1px 2px #FFF;
}

.header-wrapper h2 {
    text-shadow: 1px 1px 2px #FFF;
}

.btn-header {
    height: 50px;
    border-radius: 5px;
    border: none;
    background: #000;
    color: #fff;
    margin-top: 30px;
    width: 200px;
    -webkit-box-shadow: 0px 1px 2px 1px rgba(125, 91, 116, 1);
    -moz-box-shadow: 0px 1px 2px 1px rgba(125, 91, 116, 1);
    box-shadow: 0px 1px 2px 1px rgba(125, 91, 116, 1);
    outline: none;
}

.offert {
    background: #ff6b6b;
    padding-top: 50px;
    color: #fff;
    min-height: 718px;
    margin-top: 20px;
    padding: 166px 112px 166px 112px;
}

.offert .content {
    font-size: 42px;
    color: #7d5b74;
}


.offert .content .content-bold {
    font-weight: bold;
    color: inherit;
}

.offert .content span {
    color: #fff;
}

.offert-wrapper {
    margin: 0;
    padding: 0;
}

.offert-wrapper>img {
    width: 100%;
}

.offert .col {
    padding: 0;
}

/*section cards */
.cards {
    margin-top: 20px;
}

.cards-item {
    background: #000;

    overflow: hidden;

}

.col-content:nth-child(1) {
    padding-right: 7.5px;
}

.col-content:nth-child(2) {
    padding-left: 7.5px;
}

.cards-item img {

    width: 100%;
}

.col-content {
    margin-bottom: 15px;
    position: relative;
}

.col-content .cards-title {
    position: absolute;
    z-index: 10;
    top: 80%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: bold;
    font-size: 46px;
    text-shadow: 2px 2px 2px #7d5b74;
}

/*carousel *!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1*/
.slick-dots {
    position: absolute;
    top: 97%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    display: flex;

}

.slick-dots li {
    list-style-type: none;
    margin: 10px;
    border-radius: 50%;
}

.slick-dots li button {
    color: transparent;
    padding: 0;
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    outline: none;
    background: #e3cbc8;

}

.your-class {
    position: relative;
}

@media(max-width: 768px) {
    .nav {
        align-items: center;
    }

    .nav .navbar {
        display: none;
    }

    .hamburger {
        display: block;
    }
    .col-content:nth-child(2){
        padding-left: 15px;
    }
    .col-content:nth-child(1){
        padding-right: 15px;
    }
}

@media(max-width:576px) {
    .offert {
        padding: 10px;
    }
}